{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}


<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     style="color: white">{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}

  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" style="color: blue; text-decoration: none;" onmousemove="this.style.color = 'white'";  onmouseleave="this.style.color = 'blue';"  }"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>

{% endfor %}
