 body{background:grey url("/static/images/bg.jpg") no-repeat center center fixed;}

h1{
    margin-top: 40px;
    margin-bottom: 30px;
}
.album, .photo {
    width: 300px;
    height: 300px;
    background: #f3cccc;
    border-radius: 30px;
    display: inline-block;
    margin: 10px;
}

.album img, .photo img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.photo img{
    height: 100%;
    border-radius: 30px;
}

.album-title {
    text-align: center;
}

.albums_add {
    width: 75%;
    display: inline-block;
    margin: 0 auto;


}
.align_div{
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.vLargeTextField{
    border:outset 2px #191970;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.vLargeTextField:focus {
    outline: none !important;
    border-color: #1E90FF;
    box-shadow: 0 0 10px #00BFFF
  }



.reply_comment_btn{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}
.card::hover{
    transform: scale(1.2);
}

.container{background: url( "/static/imgage/bg_pic.jpeg");}