


.card_cust{text-decoration: none;width: 20rem; border: 1px outset blue; border-radius: 20px; box-shadow: 10px 5px 5px red; display:inline-block; margin: 10px; }
.card-img-top{border-radius: 20px 20px 0px 0px;}
.card-text{font-family:verdana; color:black; text-align: center; text-shadow: 2px 2px 5px red;}