{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style_chat.css' %}">{% endblock %}
{% block content %}


<div class="container_chat">
    <h3 class="heading_chat">What chat room would you like to enter?</h3>
    <input class="textInput" id="room-name-input" type="text" size="100"><br>
    <input class="button" id="room-name-submit" type="button" value="Enter">
</div>

<script src="{% static 'index_chat.js' %}"></script>

{% endblock %}
