<link rel="stylesheet" href="/static/css/style.css?v=2.9"/>
{% extends "base.html" %}
{% block title %} Gallery-add/pic {% endblock %}


<h1>Add photo to album</h1>

{% block content %}
<a href="{% url 'albumPage' album.id%}" class="btn btn-dark my-3">Go Back</a>
<br><br>

<form enctype="multipart/form-data" method="post" id="photo_form" novalidate="">


    <input type="hidden" class="vDateField" size="10" value="{{album.id}}">
    <input type="hidden" name="author" required="" id="id_author" value="{{request.user}}">
    <div class="align_div">

        <div>
            <h6>Image:</h6>
            <input type="file" name="photo" accept="image/*" required="" id="photo">
        </div>
        <br>
        <div>
            <h6>Description:</h6>
            <textarea name="description" cols="40" rows="10" class="vLargeTextField" required="" id="id_description "
                      placeholder="Description..."></textarea>
        </div>

        <input type="hidden" name="album" value="{{album.id}}">


        <br>
        <div class="submit-row">
            <input class="btn btn-outline-success" type="submit" value="Save"  name="_save">
        </div>
    </div>
</form>

{% endblock %}