<link rel="stylesheet" href="/static/css/style.css?v=2.9"/>
{% extends "base.html" %}
{% block title %} Gallery-add/album {% endblock %}

{% block content %}
<a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go Back</a>
<br>
<div class="align_div">
    <form enctype="multipart/form-data" method="post" id="album_form">


        <div>
            <h6> Name: </h6>
            <textarea name="name" cols="40" rows="1" class="vLargeTextField" maxlength="1000" id="id_name"></textarea>
        </div>
        <br>
        <div>
            <h6> Cover:</h6>
            <input type="file" name="cover" accept="image/*" id="id_cover">
        </div>
        <br>
        <div>
            <h6> Description: </h6><br>
            <textarea name="description" cols="40" rows="8" class="vLargeTextField" required="" id="id_description"
                      placeholder="Description..."></textarea>
        </div>
        <br>
        <div>
            <input class="btn btn-outline-success" type="submit" value="Save" name="_save">
        </div>


    </form>
</div>
{% endblock %}