{% extends "base.html" %}


{% block content %}
<a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go Back</a>

{% if request.user == "vlad" %}
<a href="{% url 'edit_album' album.id %}?album_id={{album.id}}" class="btn btn-dark my-3">-Edit album properties-</a>
{% endif %}
{% if album.name%}
<h3 align="center"> Album name: {{album.name}}</h3>
{% endif %}
<div class="container">

    <a href="{% url 'addphoto' %}?album_id={{album.id}}" class="btn btn-dark my-3">-Add Photo-</a>
    <!--<a href="{% url 'account_logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>-->


</div>
<!--<form  method="POST" >-->
<!--<button type="submit" class="btn btn-outline-secondary"><input type="hidden" name="order_date" value="{{1}}">order_by date</button>-->
<!--    &lt;!&ndash;<a href="{% url 'addphoto' %}}">Add photo</a>&ndash;&gt;-->
<!--</form>-->


<!--<form  method="POST" >-->
<!--<button type="submit" class="btn btn-outline-secondary"><input type="hidden" name="order_views" value="{{2}}">order by views</button>-->
<!--</form>-->

<div class="row">
    {% for photo in photos %}
    <div class="col-xs-6 col-sm-3" style="display: inline-block;">
        <a href="{% url 'pictureOpen' photo.id %}?album_id={{album.id}}"> <img src="{{ photo.image.url }}"
                                                                               class="w-100 shadow-1-strong rounded mb-4"></a>
    </div>
    {% endfor %}
</div>
{% endblock %}