<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block head %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
<!-- Navigation -->

{% load account %}
{% load custom_tags %}
<!--<style>#third{background: url("/static/bg_pic.jpeg") 50% 0 no-repeat fixed;}</style>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'gallery' %}">Django 3 | Gallery-Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% if request.user.is_authenticated %}

                <li style="padding-right: 50px;">
                    <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search user"
                                   aria-label="Search user" name="query" value="{{ request.GET.query }}">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="{% url 'profile' request.user.profile.pk %}" style="color: white;font-weight: bold;margin-right:10px;">Profile:
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </a></li>
                <li class="nav-item" style="color: white;font-weight: bold;margin-right:10px;">
                    {% show_notifications %}
                </li>
                <li class="nav-item">

                    <h7 style="font-family:courier; color:white;font-weight: bold;"> Current user: {{user.username}} |</h7>
                    <a href="{% url 'account_logout' %}">
                        <h7 style="font-family:courier; color:white;">Выйти</h7>
                    </a>
                    {% else %}
                    <a href="{% url 'account_signup' %}">
                        <h7 style="font-family:courier; color:white;">Регистрация |</h7>
                    </a> <a href="{% url 'account_login' %}">
                    <h7 style="font-family:courier; color:white;">Войти</h7>
                </a>

                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br>
<div class="container">
    {% block content %} {% endblock %}

</div>

<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

</body>
</html>