{% extends "base.html" %}

{% block title %} Gallery-del/pic {% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">


            <p>Are you sure you want to delete "{{photo}}"?</p>

            <form action="{% url 'delete_photo' photo.id  %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'gallery' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}