{% extends "base.html" %}
{% load static %}
{% block title %} Gallery {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_index_page.css' %}"/>
<!--<img src="{% static 'images/bg_pic.jpeg' %}" alt="Stones along the river" >-->

<div class="albums">
    <br>
    <a href="{% url 'add_album' %}" class="btn btn-dark">Add album</a><br><br>
    {% for album in albums %}
    <style>

    </style>

    <div class="card_cust" style=" ">
        <a href="{% url 'albumPage' album.id %}">
            <img src="{{ album.cover.url }}" class="card-img-top">
            <div class="card-body">
                <p class="card-text"><h5 class="card-text"> Album Name: {{album.name}} </h5></p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
