<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login/Regiser</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .login--wrapper {
            display: flex;
            align-items: center;
            height: 80vh;
            justify-content: center;
        }

        .form {
            width: 500px;
        }


    </style>
</head>

<body>
<div class="container">

    <div class="login--wrapper">

        {% if page == 'login' %}
        <form method='post' class="form">
            {% csrf_token %}
            <!--                <h1>Login</h1>-->
            <h4>Login to view photos and share with your friends</h4>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
            <p>Don't have an account <a href="{% url 'register' %}">Register</a></p>
        </form>
        {% else %}
        <form method='post'>
            <h1>Register</h1>
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <br><br>
            <p>Already have an account <a href="{% url 'login' %}">Log in</a></p>

        </form>
        {% endif %}
    </div>

</div>
</body>

</html>