<!DOCTYPE html>
<html>
{% load crispy_forms_tags %}
{% load hitcount_tags %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="m-5">
<p>Views: {% get_hit_count for photo %}</p>
<div class="container">

    <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
    <div style="height: 90vh;">
        <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}">
        <!--                    # Return total hits for an object:-->
        <p>{{photo.description}}</p>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12">
        <h5>Add a Comment!</h5>
    </div>
</div>
<div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Submit!</button>
            </div>
        </form>
    </div>
</div>
{% for comment in comments %}
<div class="row justify-content-center mt-3 mb-5 border-bottom">
    <div class="col-md-5 col-sm-12">
        <p>
            <strong>{{ comment.author }}</strong> {{ comment.created_on }}
        </p>
        <p>{{ comment.comment }}</p>
    </div>
</div>
{% endfor %}
</div>

</body>

</html>