{% extends "base.html" %}
{% block title %} Gallery {% endblock %}

{% block content %}
<style>
   .photo {
    width: 150px;
    height: 150px;

</style>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
                <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100"/>
                {% if profile.name %}
                <h3 class="py-4">{{ profile.name }}
                    <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-outline-info">Edit</a>
                        {% endif %}
                    </span>
                    {% else %}
                    <h3 class="py-4">{{ user.username }}
                        <span>
                            {% if request.user == user %}
                                <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-outline-info">Edit</a>
                            {% endif %}
                        </span>
                    </h3>
                    {% endif %}
                </h3>
            </div>

            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}

            <div class="mb-3">
                <div class="mb-3">
                    <a href="{% url 'list-followers' profile.pk %}" class="post-link">Followers: {{ number_of_followers }}</a>

                </div>

                {% if user == request.user %}
                {% else %}
                {% if is_following %}
                <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'add-follower' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
            {% if profile.location %}
            <p>Location: {{ profile.location }}</p>
            {% endif %}

            {% if profile.birth_date %}
            <p>Birthday: {{ profile.birth_date }}</p>
            {% endif %}

            {% if user == request.user %}
            {% else %}
            {% if is_following %}

            {% endif %}
            {% endif %}

            {{ photos.author }}

        </div>
    </div>

    <h6 align="CENTER" class="mt-3 mb-3">Posted pictures: </h6>
    <div class="row justify-content-md-center ">

        {% for photo in photos %}
        <div class="photo mr-2">
            <a href="{% url 'pictureOpen' photo.id %}?album_id={{album.id}}"> <img src="{{ photo.image.url }}"></a>
            <p><small> {{ photo.created_on }}</small></p>
        </div>

        {% endfor %}

    </div>

</div>
{% endblock content %}