{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'gallery' %}" class="btn btn-outline-info my-2 my-sm-0">Back To Feed</a>
        </div>
    </div>

    {% for profile in profile_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' profile.pk %}">@{{
                profile.user }}</a></p>
            {% if profile.location %}
            <p>{{ profile.location }}</p>
            {% endif %}
            <p>Followers: {{ profile.followers.all.count }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}