{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Gallery-update/pic {% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}

                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>

{% endblock %}




